$color-accent: #ff0000
$color-text: #FFFFFF
$color-text-alt: #CCCCCC
$color-border: rgba(0, 0, 0, 0.30)
$color-background-alt: #222222
$color-background: #000000

$heading-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$header-background: $color-background
$header-logo-height: 26px
$header-border-bottom-width: 0
$hero-background-color: $color-background
$footer-background-color: $color-background
$footer-logo-height: 26px
