$color-accent: #787878
$color-text: #FFFFFF
$color-text-alt: #CCCCCC
$color-border: rgba(0, 0, 0, 0.30)
$color-background-alt: #222222
$color-background: #000000

$body-font-family: "Pitch Sans", sans-serif
$heading-font-family: "Untitled Sans", sans-serif


// Link
$link-underline-offset: space(2)
$link-underline-thickness: 1px
$link-transition: none
$link-unhover-decoration-color-alpha: 0

$header-background: transparent
$header-sticky-background: transparent
$header-logo-height: pxToRem(26)
$header-border-bottom-width: 0
$hero-background-color: $color-background
$footer-background-color: $color-background
$footer-logo-height: pxToRem(26)

$grid-gutter: space(2)


// TYPO

$body-size-desktop: pxToRem(18)
$body-size: pxToRem(18)
$body-line-height: pxToRem(25.2)

// HEADINGS
$heading-font-weight: 400

// h1
$h1-size-desktop: pxToRem(62)
// $h1-size: pxToRem(30)
$h1-line-height: pxToRem(65.1)
$h1-weight: 400

// h2
$h2-size-desktop: pxToRem(48)
// $h2-size: pxToRem(24)
$h2-line-height: pxToRem(50.4)
$h2-weight: $heading-font-weight

// h3
$h3-size-desktop: pxToRem(36)
// $h3-size: pxToRem(38)
$h3-line-height: pxToRem(37.8)
$h3-weight: $heading-font-weight

// h4
$h4-size-desktop: pxToRem(18)
// $h4-size: pxToRem(16)
$h4-line-height: pxToRem(18.9)
$h4-weight: $heading-font-weight

$h5-text-transform: none
$h6-text-transform: none
